/* Fullscreen canvas */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* Make the canvas fill the window */
canvas {
    display: block;
    width: 100%;
    height: 100%;
}
